# Ignore local Python virtual environments
app/venv/

# Python cache and metadata
__pycache__/
*.py[cod]
*.pyo
*.pyd

# macOS files
.DS_Store

# Editor settings
.vscode/

terraform.tfstate
terraform.tfstate.backup
.terraform/

# Ignore .env files containing sensitive information
*.env

license.txt

terraform-provider
